/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/03/2020, 13:42:40
    Author     : anton
*/

html, body {height: 100%; font-family: 'Roboto', sans-serif;font-weight:400;background:#F6F8FA;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight:700;
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover{
  color: #ec4445;
  text-decoration: none;
}
a:visited, a:link, a:active {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {}
@font-face {
  font-family: 'educate-icon';
  src:
    url('fonts/educate-icon.ttf?ka5vvx') format('truetype'),
    url('fonts/educate-icon.woff?ka5vvx') format('woff'),
    url('fonts/educate-icon.svg?ka5vvx#educate-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.product-sales-chart, .analytics-info-cs, .tranffic-als-inner, .analytics-rounded, .single-new-trend, .personal-info-wrap, .author-widgets-single, .calender-inner, .product-status-wrap, .review-tab-pro-inner, .income-dashone-total, .analytics-edu-wrap, .analytics-sparkle-line, .analysis-progrebar, .sparkline8-list, .sparkline9-list, .sparkline7-list, .sparkline10-list, .sparkline12-list, .sparkline13-list, .sparkline14-list, .sparkline13-list, .sparkline11-list, .x-editable-list, .code-editor-single, .blog-details-inner, .charts-single-pro, .about-sparkline, .sparkline-list, .button-ad-wrap, .tab-content-details, .sparkline16-list, .sparkline15-list, .tinymce-single, .single-product-item, .courses-inner, .single-latest-item, .product-payment-inner-st, .profile-info-inner, .contact-panel, .widget-int-shape, .social-media-edu{
	padding:20px;
	background:#fff;
}
/*----------------------------------------*/
/*  4. left sidebar
/*----------------------------------------*/
.all-content-wrapper {
    margin-left: 200px;
    transition: all 0.3s;
}
.left-sidebar-pro {
    z-index: 9999;
    width: 240px;
}
#sidebar {
    min-width: 200px;
    background: #fff;
    color: #fff;
	position:fixed;
    transition: all 0.3s;
	z-index:999;
	height:100%;
}
.mini-navbar .all-content-wrapper {
    margin-left: 80px;
    transition: all 0.3s;
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display:none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active ul li .sidebar-right-icon {
    display:none;
}
.bar-button-pro {
    margin: 13px 0px;
	font-size:16px;
	color:#fff;
}
#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}
.sidebar-header {
    text-align: center;
}
.sidebar-header h3 {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}
#sidebar.active .sidebar-header .main-logo{
	display:none;
}
#sidebar.active .sidebar-header h3{
	display:none;
}
#sidebar.active .sidebar-header p{
	display:none;
}
#sidebar ul li a .sidebar-right-icon{
	float: right;
}
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro{
	width:100%;
}
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li{
	display:block;
	float:none;
	position:relative;
}
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li .left-menu-dropdown{
	left:0px;
	top:0px;
	opacity:0;
	border-radius:0;
	border:0px solid #fff;
	box-shadow:none;
	background:#ebebeb;
}
.left-custom-menu-adp-wrap .dropdown-menu{
	position: relative;
	float: none;
}
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li .left-menu-dropdown a:hover{
	padding:15px 30px;
	transition:all .4s ease 0s;
	background:#fff;
}
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li.open .left-menu-dropdown{
	opacity:1;
	left: 0px;
	z-index:9999;
}
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a{
	display: block;
    padding: 15px 20px;
    color: #444;
    transition: all .4s ease 0s;
    font-size: 16px;
}
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:hover, .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:focus, .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:active, .left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li a:visited{
	background:#ebebeb;
	color:#444;
}
.left-custom-menu-adp-wrap ul.left-sidebar-menu-pro li .indicator-right-menu{
	float: right;
	font-size:12px;
}

/*----------------------------------------*/
/* Left Sidebar switcher
/*----------------------------------------*/
.menu-switcher-pro {
	transition:all .4s ease 0s;
}
.mini-navbar .menu-switcher-pro {
    transition: all 0.3s;
}
.menu-switcher-pro button{
	background: none;
	border:none;
}
.menu-switcher-pro button:hover, .menu-switcher-pro button:focus, .menu-switcher-pro button:active, .menu-switcher-pro button:visited{
	background: none;
	border:none;
}
/*----------------------------------------*/
/* Header Top
/*----------------------------------------*/
.header-top-menu .navbar-nav>li>a{
	padding: 20px 20px;
	color: #fff;
	font-size:14px;
}
.header-top-menu .navbar-nav>li a .angle-down-topmenu{
	margin-left:4px;
}
.header-top-menu .navbar-nav>li>a:hover{
	color: #03a9f4;
}
.header-top-menu .navbar-nav>li .dropdown-menu a{
	padding: 10px 20px;
	display:block;
	color: #303030;
}
.header-top-menu .navbar-nav>li .dropdown-menu a:hover{
	background:#2b2a2a;
}
.header-top-menu .navbar-nav>li .dropdown-menu{
	border: 0px solid #ccc; 
    border: 0px solid rgba(0,0,0,.15);
	background-color: #303030;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.175);
    box-shadow: 0 1px 4px rgba(0,0,0,.175);	
}
.header-right-info .navbar-nav>li .dropdown-menu{
	border: 0px solid #ccc; 
    border: 0px solid rgba(0,0,0,.15);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.175);
    box-shadow: 0 1px 4px rgba(0,0,0,.175);	
}
.header-top-menu .nav>li>a:focus, .header-top-menu .nav>li>a:hover, .header-top-menu .nav>li>a:active {
    text-decoration: none;
    background-color: transparent;
}
.header-top-menu .nav .open>a, .header-top-menu .nav .open>a:focus, .header-top-menu .nav .open>a:hover{
	background-color: transparent;
}
.header-right-info .nav>li>a:focus, .header-right-info .nav>li>a:hover, .header-right-info .nav>li>a:active {
    text-decoration: none;
    background-color: transparent;
}
.header-right-info .nav.custon-set-tab>li>a:focus, .header-right-info .nav.custon-set-tab>li>a:hover, .header-right-info .nav.custon-set-tab>li>a:active {
	color:#03a9f4;
}
.header-right-info .nav.custon-set-tab>li>a {
	color:#303030;
}
.header-right-info .nav .open>a, .header-top-menu .nav .open>a:focus, .header-top-menu .nav .open>a:hover{
	background-color: transparent;
}
.header-right-info .navbar-nav{
	float:right;
	padding:17px 0px;
}

.header-top-menu ul.header-top-nav li{
	display:inline-block;
	position:relative;
}
.header-top-menu ul.header-top-nav li ul.dropdown-header-top{
	position:absolute;
	top:130%;
	left:-10px;
	width:200px;
	background:#303030;
	opacity:0;
	transition: all 0.5s ease 0s;
	z-index:999;
	padding:10px 0px;
}
.header-top-menu ul.header-top-nav li ul.dropdown-header-top.in{
	opacity:1;
	top:100%;
	transition: all 0.5s ease 0s;
}

.header-top-menu ul.header-top-nav li .dropdown-header-top li{
	display:block;
}
.header-top-menu ul.header-top-nav li .dropdown-header-top li a{
	display:block;
	color:#fff;
	padding:15px 20px;
}
.header-top-menu ul.header-top-nav li .dropdown-header-top li a:hover{
	background:#03a9f4;
}
.header-top-menu ul.header-top-nav li a{
	font-size:14px;
	color:#fff;
	text-decoration:none;
	text-transform:capitalize;
	display:block;
	padding:18px 10px;
}
.header-right-info {
	
}
.header-right-info ul.header-right-menu li{
	display:inline-block;
}
.header-right-info ul.header-right-menu li .author-message-top, .header-right-info ul.header-right-menu li .notification-author, .header-right-info ul.header-right-menu li .author-log{
   position:absolute;
   top:160%;
   left:-70px;
   width:330px;
   background:#343434;
   text-align:left;
   opacity:0;
   transition: all 0.5s ease 0s;
   visibility:hidden;
   z-index:999;
}
.header-right-info ul.header-right-menu li .dropdown-header-top.author-log{
   width:200px;
   padding:10px 0px;
}
.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li{
   display:block;
}
.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a{
   padding:10px 20px;
   display:block;
   color:#303030;
   font-size:14px;
}
.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li .author-log-ic{
   margin-right:10px;
}
.header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:hover, .header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:focus{
   background:#2b2a2a;
}
.header-right-info ul.header-right-menu li .author-message-top{
   left:-133px;
}
.header-right-info ul.header-right-menu li .notification-author{
   left:-134px;
}
.header-right-info ul.header-right-menu li .author-log{
   left:-2px;
}
.header-right-info ul.header-right-menu li.open .author-message-top, .header-right-info ul.header-right-menu li.open .notification-author, .header-right-info ul.header-right-menu li.open .author-log{
   opacity:1;
   top:170%;
   transition: all 0.5s ease 0s;
   visibility:visible;
}
.header-right-info ul.header-right-menu li ul.message-menu li a, .header-right-info ul.header-right-menu li ul.notification-menu li a {
	margin: 20px 20px;
	display:block;
	text-decoration:none;
	color:#fff;
}
.header-right-info ul.header-right-menu li .message-view a, .header-right-info ul.header-right-menu li .notification-view a{
	display:block;
	color: #ccc;
	font-size: 14px;
	border-top:1px solid #383838;
	padding: 15px 0px;
	text-align:center;
	text-decoration:none;
}
.header-right-info ul.header-right-menu > li > a{
	display:inline-block;
	color:#fff;
	padding: 0px 0px 0px 20px;
	font-size:20px;
	text-decoration:none;
	position:relative;
}

.header-right-info .admin-name{
	display: inline-block;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: -2px;
	margin-left:2px;
}
.header-right-info .nav>li>a>img{
	width: 26px;
    border-radius: 50%;
}
.header-right-info .author-project-icon{
    color: #fff;
    font-size: 10px;
    position: relative;
    top: -4px;
	margin-left:5px;
}
.header-right-info .message-author{
   position:relative;
}

.header-right-info .author-message-top:before, .header-right-info .notification-author:before{
	position: absolute;
    content: "";
    display: inline-block;
    border-bottom: 10px solid #343434;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0;
    right: 50%;
    top: -9px;
    margin-right: -10px;
    z-index: 99;
}
.header-right-info .author-message-top li a{
   color:#fff;
}
.header-right-info ul.header-right-menu li.open > a{
	color:#fff;
}
.header-top-menu .navbar-nav>li.open > a{
	color:#03a9f4;
}
.header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
    background:#343434;
}
.header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.dropdown-menu {
    position: absolute;
    top: 170%;
    left: -358px;
    width: 400px;
	box-shadow: 0px 2px 3px rgba(0,0,0,.175);
	padding: 20px;
}

.header-top-menu .navbar-nav>li .dropdown-menu, .header-right-info ul.header-right-menu li .author-message-top, .header-right-info ul.header-right-menu li .notification-author, .header-right-info ul.header-right-menu li .author-log, .header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
    background: #e12503;
}
.header-top-menu .navbar-nav>li .dropdown-menu a:hover, .header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:hover, .header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:focus, .header-drl-controller-btn.btn-info:active:focus, .btn-info:active:hover {
    background: #F6F8FA;
}
.menu-switcher-pro .btn-info:active, .menu-switcher-pro .btn-info:focus, .menu-switcher-pro .btn-info:hover, .menu-switcher-pro .btn-info:visited, .header-drl-controller-btn.btn-info:active:focus{
	background: #006DF0;
}
.header-right-info ul.header-right-menu li .message-view a, .header-right-info ul.header-right-menu li .notification-view a {
    border-top: 1px solid #c7290d;
}
.header-right-info .author-message-top:before, .header-right-info .notification-author:before {
    border-bottom: 10px solid #F6F8FA;
}
.header-top-menu .navbar-nav>li.open > a {
    color: #fff;
}
.header-top-menu .navbar-nav>li>a:hover {
    color: #fff;
}
.header-right-info .author-message-top:before, .header-right-info .notification-author:before {
    position: absolute;
    content: "";
    display: inline-block;
    border-bottom: 10px solid #e12503;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0;
    right: 50%;
    top: -9px;
    margin-right: -10px;
    z-index: 99;
}

.breadcome-list {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
/*----------------------------------------*/
/*  6.  breadcrumb
/*----------------------------------------*/
.breadcome-heading .form-control, .sr-input-func .form-control:focus {
    border: 1px solid #ececec;
    font-size: 14px;
    height: 34px;
    color: #303030;
    padding-left: 20px;
    padding-right: 40px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
}
.breadcome-heading .form-control:focus {
    border: 1px solid #006DF0;
}
ul.breadcome-menu {
    padding-top: 8px;
}
ul.breadcome-menu {
    text-align: right;
}
ul.breadcome-menu li {
    font-size: 14px;
    display: inline-block;
	color:#444;
}
ul.breadcome-menu li a{
    color:#444;
}
ul.breadcome-menu li a:hover{
    color:#7266BA;
}

.header-top-area {
    position: fixed;
    background: -webkit-linear-gradient(178deg, #e12503 0%, #85060c 100%);
    background: linear-gradient(178deg, #e12503 0%, #85060c 100%);
    z-index: 99;
    left: 200px;
    right: 0;
    top: 0;
    margin: 0 auto;
    transition: all 0.3s;
}
.mini-navbar .header-top-area{
	left: 80px;
	z-index:9999;
}


.header-top-area {
    background: #006DF0;
}
.sidebar-nav .metismenu{
	background: #fff;
}
.sidebar-nav {
    background: #fff;
}
.sidebar-nav ul{
	background: #fff;
}
#sidebar.active .sidebar-nav ul.metismenu li ul.submenu-angle{
	position: absolute;
    right: -180px;
    top: 0px;
    text-align: left;
    width: 180px;
    background: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.175);
    box-shadow: 0 1px 4px rgba(0,0,0,.175);
}

.sidebar-nav .metismenu a{
	color:#8d9498;
}
.sidebar-nav .metismenu a:hover, .sidebar-nav .metismenu a:focus, .sidebar-nav .metismenu a:active {
    background: #F6F6F6;
}
.header-top-menu .navbar-nav>li .dropdown-menu, .header-right-info ul.header-right-menu li .author-message-top, .header-right-info ul.header-right-menu li .notification-author, .header-right-info ul.header-right-menu li .author-log, .header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
    background: #fff;
}
.header-top-menu .navbar-nav>li .dropdown-menu a:hover, .header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:hover, .header-right-info ul.header-right-menu li .dropdown-header-top.author-log li a:focus, .header-drl-controller-btn.btn-info:active:focus, .btn-info:active:hover {
    background: #F6F8FA;
}
.header-top-menu .navbar-nav>li.open > a {
    color: #fff;
}
.header-top-menu .navbar-nav>li>a:hover {
    color: #fff;
}
#sidebar {
    background: #fff;
}
#sidebar .sidebar-header {
    background: #fff;
}
#sidebar.active .sidebar-header {
    padding-top:10px;
	position:relative;
	z-index:9;
	padding-bottom:10px;
}
.header-right-info ul.header-right-menu li .message-view a, .header-right-info ul.header-right-menu li .notification-view a {
    border-top: 1px solid #F6F8FA;
}
.header-right-info .author-message-top:before, .header-right-info .notification-author:before {
    border-bottom: 10px solid #fff;
}
.header-right-info ul.header-right-menu li.open > a {
    color: #fff;
}
.menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a, .menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a:focus, .menu-setting-wrap.menu-setting-wrap-bg .nav-tabs>li.active>a:hover
 .notes-img {
    background: #F6F8FA;
}
.header-right-info .nav.custon-set-tab>li>a:focus, .header-right-info .nav.custon-set-tab>li>a:hover, .header-right-info .nav.custon-set-tab>li>a:active {
    color: #303030;
}
