/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
	.left-sidebar-pro{
		display:block;
	}
	.mobile-menu-area{
		display:none;
	}
	.logo-pro{
		display:block;
		text-align:center;
		background:#fff;
	}
	.menu-switcher-pro{
		display:none;
	}
	.logo-pro{
		display:none;
	}
	.col-lg-1.col-md-0.col-sm-1.col-xs-12{
		display:none;
	}
	.mg-stock-res-n{
		display:none;
	}
	.login2.pull-right.pull-right-pro{
		text-align: left !important;
		float: left !important;
	}
	.res-dis-nn {
		display: none !important;
	}
	.header-top-area {
		position: relative;
		left: 0px;
	}
	.analysis-progrebar-ctn {
		margin-top: 0px;
	}
	.breadcome-list {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.res-mg-t-15{
		margin-top:15px;
	}
	.review-ctn-hf h3 {
		font-size: 14px;
	}
	.header-right-info ul.header-right-menu li.open .author-message-top, .header-right-info ul.header-right-menu li.open .notification-author, .header-right-info ul.header-right-menu li.open .author-log {
		top: 184%;
	}
	.header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
		top: 185%;
	}
	.header-right-info ul.header-right-menu li.open .author-log {
		top: 167%;
	}
	.header-right-info .author-message-top::before, .header-right-info .notification-author::before {
		position: unset;
		display: block;
		border-width: 0px;
	}
}

	 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.left-sidebar-pro{
		display:none;
	}
	.all-content-wrapper {
		margin-left: 0px;
	}
	.mobile-menu-area{
		display:block;
		position:relative;
		z-index:9;
	}
	.logo-pro{
		display:block;
		text-align:center;
		background:#fff;
	}
	.menu-switcher-pro{
		display:none;
	}
	.header-top-menu{
		display:none;
	}
	.header-right-info .navbar-nav {
		float: unset;
		text-align: center;
		margin: 0 auto;
		max-width: 300px;
	}
	.header-top-area {
		position: relative;
		left: 0px;
	}
	.breadcome-list {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.header-right-info ul.header-right-menu li.open .author-message-top, .header-right-info ul.header-right-menu li.open .notification-author, .header-right-info ul.header-right-menu li.open .author-log {
		top: 184%;
	}
	.header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
		top: 185%;
		left: -170px;
	}
	.header-right-info ul.header-right-menu li.open .author-log {
		top: 167%;
	}
	.header-right-info .author-message-top::before, .header-right-info .notification-author::before {
		position: unset;
		display: block;
		border-width: 0px;
	}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
	.container {width:300px}
	.left-sidebar-pro{
		display:none;
	}
	.all-content-wrapper {
		margin-left: 0px;
	}
	.mobile-menu-area{
		display:block;
		position:relative;
		z-index:9;
	}
	.logo-pro{
		display:block;
		text-align:center;
	}
	.menu-switcher-pro{
		display:none;
	}
	.header-top-menu{
		display:none;
	}
	.header-right-info .navbar-nav {
		float: unset;
		text-align: center;
		margin: 0 auto;
		max-width: 300px;
	}
	.header-right-info ul.header-right-menu li .author-message-top {
		left: 4px;
		z-index:99999999;
	}
	.header-right-info ul.header-right-menu li .notification-author {
		left: -33px;
		z-index:99999999;
	}
	.header-right-info ul.header-right-menu li .author-log {
	   z-index:99999999;
	}
	.header-right-info ul.header-right-menu > li > a {
		padding: 0px 0px 0px 13px;
	}
	.header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.dropdown-menu {
		left: -235px;
		width: 270px;
		padding: 15px;
		z-index: 99999999;
	}
	.header-right-info ul.header-right-menu li .author-message-top, .header-right-info ul.header-right-menu li .notification-author, .header-right-info ul.header-right-menu li .author-log {
		width: 270px;
	}
	.header-top-area {
		position: relative;
		left: 0px;
	}
	.analysis-progrebar-ctn {
		margin-top: 0px;
	}
	.breadcome-list {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.breadcome-menu{
		display:none;
	}
	.header-right-info ul.header-right-menu li.open .author-message-top, .header-right-info ul.header-right-menu li.open .notification-author, .header-right-info ul.header-right-menu li.open .author-log {
		top: 214%;
	}
	.header-right-info ul.header-right-menu li .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu {
		top: 215%;
	}
	.header-right-info ul.header-right-menu li.open .author-log {
		top: 190%;
	}
	.header-right-info .author-message-top::before, .header-right-info .notification-author::before {
		position: unset;
		display: block;
		border-width: 0px;
	}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {width:450px}
	.breadcome-menu{
		display:block;
	}
}